.product-card {
    margin: 0.5rem;
    width: 15rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .badge {
    position: absolute;
    top: 8px;
    right: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: var(--badge-bg);
    padding: 5px 3px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .bi-suit-heart {
    font-size: 20px;
    cursor: pointer;
  }
  
  .bi-suit-heart:hover {
    color: var(--primary-color);
  }
  
  .add-to-cart:hover {
    background-color: var(--primary-color);
    transition: 0.3s;
    color: var(--btn-text);
  }
  
  .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background: var(--btn-text);
  }
  
  .product-tumb img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .product-tumb img :hover {
    transform: 0.3s;
  }
  
  .product-details {
    padding: 5px;
  }
  
  .product-details h4 a {
    font-weight: 600;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .product-details h4 a:hover {
    color: var(--main-color);
  }
  
  .product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 8px;
    margin-top: -7px;
    color: rgb(0, 0, 0);
  }
  
  .product-bottom-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    border-top: 1px solid rgb(185, 185, 185);
    padding-top: 5px;
    justify-content: space-between;
  }
  
  .product-bottom-details div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    /* float: left; */
    width: 50%;
  }
  
  .product-price {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 400;
  }
  
  .product-price small {
    font-size: 80%;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
  }
  
  .product-links {
    text-align: right;
  }
  
  .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #a8a8a8;
    transition: 0.3s;
    font-size: 35px;
    margin-top: -16%;
    margin-bottom: 0%;
  }
  
  .product-links a:hover {
    color: var(--main-color);
    transition: 0.3s;
  }
  
  /* temp */
  .product-links a .bi {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .product-links {
    display: flex;
    flex-direction: row;
    align-self: center;
  }