:root{
  --primary-color:#0284c7;
  --gray-color:#6b7280;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  overflow-y: scroll;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 2rem);
  overflow-y: scroll;
  justify-content: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px
}
.wishlist-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.topnav-link {
  margin: 6px;
  color: var(--gray-color);
  text-decoration: none;
}
.cart-badge {
  display: inline-block;
  text-align: center;
  padding: 0.2rem 0.4rem;
  vertical-align: baseline;
  font-size: 0.75rem;
  margin: auto 0.4em;
  border-radius: 0.75rem;
  color: white;
  background-color: var(--primary-color);
  border: 1px solid white;
   position: relative;
  bottom: 1.5rem;
  right: 0.8rem;
  border-radius: 50%;
  margin: 0;
  border-color: white;
}
.icon-container  {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

